.git
.cache
VPS*/
**/node_modules
**/.next
**/dist
**/migration-dist
**/.turbo
**/storybook-static
**/.env
**/.env.*
!**/.env.example
**/.terraform
**/*.tfstate*
**/*.tfplan
**/*.tfvars
playwright-report
test-results

.aws
.codex
.agents
.claude
.cursor
**/.cache
**/.turbo
